@import "tailwindcss";

:root {
  --background: #f8fafc; /* Slate-50 */
  --foreground: #1e293b; /* Slate-800 */
  --primary: #047857; /* Emerald Green */
  --secondary: #D4AF37; /* Gold */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-cairo);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617; /* Slate-950 */
    --foreground: #f1f5f9; /* Slate-100 */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-cairo), sans-serif;
}
